In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [67]:
df = pd.read_csv('D:/Books/study/python/Analytics Vidya/mnist/Train/train.csv',index_col='filename')

In [68]:
df.head()

          label
filename
0.png         4
1.png         9
2.png         1
3.png         7
4.png         3

In [19]:
file_name=df['filename']

In [20]:
file_name[:10]

0    0.png
1    1.png
2    2.png
3    3.png
4    4.png
5    5.png
6    6.png
7    7.png
8    8.png
9    9.png
Name: filename, dtype: object

In [21]:
type(file_name[0])

str

In [22]:
path = 'D:/Books/study/python/Analytics Vidya/mnist/Train/Images/train/'

In [23]:
path = path + file_name[0]

In [26]:
import cv2

img = cv2.imread(path,0)
cv2.imshow('Random',img)
cv2.waitKey()

-1

In [27]:
import csv, os
path = 'D:/Books/study/python/Analytics Vidya/mnist'
os.chdir(path)
file_out = open('dataset.csv','w',newline='')
writer = csv.writer(file_out)
header = ['label']
for i in range(784):
    header.append('pixel_'+str(i))
writer.writerow(header)

7737

In [78]:
def create_dataset(path):
    os.chdir(path)
    header = []

    for i in range(784):
        header.append('pixel_'+str(i))
    file_out = open('dataset_test.csv','w',newline='')
    writer = csv.writer(file_out)
    writer.writerow(header)

    path_bef = 'D:/Books/study/python/Analytics Vidya/mnist/Train/Images/test/'
    os.chdir(path_bef)
    for i in os.scandir():
        row = []
        path_now = path_bef + i.name
        img = cv2.imread(path_now,0)
        rows,cols = img.shape
        for j in range(rows):
            for k in range(cols):
                if img[j,k] > 100:
                    row.append(1)
                else:
                    row.append(0)
        writer.writerow(row)
    file_out.close()

In [28]:
file_out.close()

In [31]:
df['']

  filename  label
0    0.png      4
1    1.png      9
2    2.png      1
3    3.png      7
4    4.png      3

In [62]:
df = pd.read_csv('D:/Books/study/python/Analytics Vidya/mnist/dataset.csv')

In [63]:
df.head()

,"label 4\nName: 0.png, dtype: int64",0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.645,0.646,0.647,0.648,0.649,0.650,0.651,0.652,0.653,0.654
0,"label 9\nName: 1.png, dtype: int64",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"label 1\nName: 2.png, dtype: int64",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"label 7\nName: 3.png, dtype: int64",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"label 3\nName: 4.png, dtype: int64",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"label 9\nName: 5.png, dtype: int64",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [71]:
a = []
for i in range(10):
    a.append(df.iloc[i,[0]][0])

In [72]:
a

[4, 9, 1, 7, 3, 9, 4, 9, 3, 4]

In [73]:
df.loc['0.png',['label']][0]

4

In [77]:
path = 'D:\Books\study\python\Analytics Vidya\mnist'
os.chdir(path)
for f in os.scandir():
    print(f.name)

dataset.csv
Train
Train_UQcUa52.zip

In [79]:
create_dataset('D:\Books\study\python\Analytics Vidya\mnist')

In [4]:
df = pd.read_csv('D:\Books\study\python\Analytics Vidya\mnist\dataset.csv')

In [5]:
X = df.drop(['label'],axis=1).values
Y = df['label'].values

In [8]:
from sklearn.svm import SVC
model = SVC()
model.fit(X,Y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [11]:
path = 'D:\Books\study\python\Analytics Vidya\mnist\model'

In [13]:
import joblib
joblib.dump(model,path)

['D:\\Books\\study\\python\\Analytics Vidya\\mnist\\model']

In [15]:
X_test = pd.read_csv('D:\Books\study\python\Analytics Vidya\mnist\dataset_test.csv').values

In [16]:
y_pred = model.predict(X_test)

In [18]:
col_1 = pd.read_csv('D:\Books\study\python\Analytics Vidya\Test_fCbTej3_0j1gHmj.csv')

In [20]:
col_1.head().values

array([['49000.png'],
       ['49001.png'],
       ['49002.png'],
       ['49003.png'],
       ['49004.png']], dtype=object)

In [24]:
col_1['label'] = y_pred

In [25]:
col_1.head()

    filename  label
0  49000.png      4
1  49001.png      0
2  49002.png      9
3  49003.png      7
4  49004.png      9

In [27]:
pd.DataFrame(col_1).to_csv('D:\Books\study\python\Analytics Vidya\mnist\submission.csv',columns=['filename','label'],index=None)