In [1]:
import pandas as pd
import csv
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
import re

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

In [4]:
df = df.drop(['id'],axis=1)

In [5]:
df.head()

   label                                              tweet
0      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1      0  Finally a transparant silicon case ^^ Thanks t...
2      0  We love this! Would you go? #talk #makememorie...
3      0  I'm wired I know I'm George I was made that wa...
4      1  What amazing service! Apple won't even talk to...

In [6]:
stop_words = stopwords.words("english")

In [7]:
def clean_data(tweet_text):

    url_regex_patter = r"(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})"
    clean_text = re.sub(url_regex_patter,"",tweet_text)
    clean_text = re.sub("@\S+","",clean_text)
    clean_text = re.sub("RT","",clean_text)
    words_list = word_tokenize(clean_text)
    clean_words = []

    for word in words_list:
        if word.isalpha() and word not in stop_words and len(word) > 3:
            clean_words.append(word)


    return ' '.join(clean_words)

In [8]:
df['tweet'] = df['tweet'].apply(clean_data)

In [21]:
pd.DataFrame(df).to_csv('D:\Books\study\python\Analytics Vidya\Twitter sentiment\clean_dataset.csv',columns=['label','tweet'],index=None)

In [9]:
df.head()

   label                                              tweet
0      0  fingerprint Pregnancy Test android apps beauti...
1      0  Finally transparant silicon case Thanks uncle ...
2      0  love Would talk makememories unplug relax ipho...
3      0   wired know George made iphone cute daventry home
4      1  What amazing service Apple even talk question ...

In [10]:
X_train = df['tweet'].values
Y_train = df['label'].values

In [12]:
X_train[:10]

array(['fingerprint Pregnancy Test android apps beautiful cute health igers iphoneonly iphonesia iphone',
       'Finally transparant silicon case Thanks uncle Sony Xperia',
       'love Would talk makememories unplug relax iphone smartphone wifi connect',
       'wired know George made iphone cute daventry home',
       'What amazing service Apple even talk question unless stupid support',
       'iPhone software update fucked phone time Stupid iPhones',
       'Happy instapic instadaily sony xperia xperiaZ',
       'Type charger cable Amazon etsy Year Cross Toby Young EVEMUN McMafia Taylor SPECTRE NewYear Starting recipes technology iPhoneX',
       'Bout shopping listening music iphone justme music likeforlike',
       'Photo selfie pool water sony camera picoftheday instagood cute outdoor'],
      dtype=object)

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
test_mat = vectorizer.fit_transform(X_train)
data_mat = test_mat.toarray()

In [12]:
from sklearn.linear_model import SGDClassifier
model = SGDClassifier()
model.fit(data_mat,Y_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=None, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [13]:
model.score(data_mat,Y_train)

0.9888888888888889

In [19]:
df_test = pd.read_csv('test.csv')

In [20]:
df_test.head()

     id                                              tweet
0  7921  I hate the new #iphone upgrade. Won't let me d...
1  7922  currently shitting my fucking pants. #apple #i...
2  7923  I'd like to puts some CD-ROMS on my iPad, is t...
3  7924  My ipod is officially dead. I lost all my pict...
4  7925  Been fighting iTunes all night! I only want th...

In [21]:
df_test['tweet'] = df_test['tweet'].apply(clean_data)

In [22]:
df_test.head()

     id                                              tweet
0  7921      hate iphone upgrade download apps apple sucks
1  7922  currently shitting fucking pants apple iMac ca...
2  7923         like puts iPad possible would block screen
3  7924  ipod officially dead lost pictures videos conc...
4  7925         Been fighting iTunes night want music paid

In [23]:
X_test = df_test['tweet'].values

In [24]:
X_test[:10]

array(['hate iphone upgrade download apps apple sucks',
       'currently shitting fucking pants apple iMac cashmoney raddest swagswagswag',
       'like puts iPad possible would block screen',
       'ipod officially dead lost pictures videos concert Camp hatinglife sobbing',
       'Been fighting iTunes night want music paid',
       'Repost repostapp announce apple',
       'This apple software update really things phone things apple',
       'BABY iPhone gold apple appleisbest geg√∂nnt aaaaah',
       'confused take time appointment still waiting minutes fact',
       'Fruit tastes better pick apple healthy fruit'], dtype=object)

In [25]:
test_datamat = vectorizer.transform(X_test)
test_mat = test_datamat.toarray()

In [39]:
y_pred = model.predict(test_mat)

In [40]:
df_test = df_test.drop(['tweet'],axis=1)

In [41]:
df_test.head()

     id
0  7921
1  7922
2  7923
3  7924
4  7925

In [42]:
df_test['label'] = y_pred

In [44]:
df_test.head(20)

      id  label
0   7921      1
1   7922      1
2   7923      1
3   7924      1
4   7925      1
5   7926      0
6   7927      1
7   7928      0
8   7929      1
9   7930      0
10  7931      0
11  7932      0
12  7933      0
13  7934      0
14  7935      0
15  7936      0
16  7937      0
17  7938      1
18  7939      1
19  7940      0

In [46]:
pd.DataFrame(df_test).to_csv('D:\Books\study\python\Analytics Vidya\Twitter sentiment\submission_SGDClassifier.csv',columns=['id','label'],index=None)

In [47]:
str(df_test)

'        id  label\n0     7921      1\n1     7922      1\n2     7923      1\n3     7924      1\n4     7925      1\n...    ...    ...\n1948  9869      0\n1949  9870      0\n1950  9871      1\n1951  9872      1\n1952  9873      0\n\n[1953 rows x 2 columns]'

In [14]:
from sklearn.svm import SVC
model_svm = SVC()
model_svm.fit(data_mat,Y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [15]:
model_svm.score(data_mat,Y_train)

0.7441919191919192

In [16]:
import joblib

In [17]:
joblib.dump(data_mat,'data_mat')

['data_mat']

In [18]:
joblib.dump(Y_train,'Y_train')

['Y_train']

In [26]:
joblib.dump(test_mat,'test_mat')

['test_mat']

In [31]:
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS, TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(lowercase=True, max_features=1000, stop_words=ENGLISH_STOP_WORDS)
tfidf_vectorizer.fit(df.tweet)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=1000,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True,
                stop_words=frozenset({'a', 'about', 'above', 'across', 'after',
                                      'afterwards', 'again', 'against', 'all',
                                      'almost', 'alone', 'along', 'already',
                                      'also', 'although', 'always', 'am',
                                      'among', 'amongst', 'amoungst', 'amount',
                                      'an', 'and', 'another', 'any', 'anyhow',
                                      'anyone', 'anything', 'anyway',
                                      'anywhere', ...}),
                strip_accents=None, sublinear_tf=False,
                token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
                vocabulary=None)

In [30]:
df.head()

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

In [32]:
train_idf = tfidf_vectorizer.transform(df.tweet)

In [35]:
# from sklearn.linear_model import SGDClassifier
# model = SGDClassifier()
model.fit(data_mat,Y_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=None, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [36]:
model.score(data_mat,Y_train)

0.9890151515151515

In [16]:
joblib.dump(model,'model_SGD.joblib')

['model_SGD.joblib']

In [15]:
import joblib